<!DOCTYPE html>
<html>
<head>
  <title>Multi Tenant App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<b><%= link_to 'Tenants', "http://localhost:3000/tenants" %></b></td>
<%= yield %>

</body>
</html>
